@import "tailwindcss";
/* @import 'bootstrap-icons/font/bootstrap-icons.css'; */

/* template 1 */
/* :root {
  --background: #ededed;
  --background-element : rgb(114, 35, 187); 
  --background-element-2 : #999393; 
  --background-element-3 : white;
  --text-element : white;
  --text-element-small : #999393;
  --text-element-small-black : 
#303443;
  --btn-text : white;
  --btn-bg: #7223bb;
  --color-foreground: #ebe7e7;
  --btn-hover : green;
  --text-hover : rgb(114, 35, 187);
  --text-span : rgb(114, 35, 187);
  --text-span-2 : #364153;
  --icon-color : #364153;
  --title-bg : #1c0641;
  --bg-header : rgb(114, 35, 187);
  --input-bg : #f8fafc;

} */
/* template 2  */
/* :root {
  --source-1 : rgb(27, 24, 173);
  --background: #ededed;
  --background-element : var(--source-1); 
  --background-element-2 : #999393; 
  --background-element-3 : white;
  --text-element : white;
  --text-element-small : #999393;
  --text-element-small-black : 
#303443;
  --btn-text : white;
  --btn-bg: var(--source-1);
  --color-foreground: #ebe7e7;
  --btn-hover : green;
  --text-hover : rgb(95, 41, 146);
  --text-span : var(--source-1);
  --text-span-2 : #364153;
  --icon-color : #364153;
  --title-bg : #1c0641;
  --bg-header : black;
  --input-bg : #f8fafc;

} */

/* template 3  */
/* :root {
  --source-1 : rgb(95, 41, 146);
  --background: #ededed;
  --background-element : var(--source-1); 
  --background-element-2 : #999393; 
  --background-element-3 : white;
  --text-element : black;
  --text-element-small : #999393;
  --text-element-small-black : 
#303443;
  --btn-text : white;
  --btn-bg: var(--source-1);
  --color-foreground: var(--source-1);
  --btn-hover : #cba79b;
  --text-hover : rgb(95, 41, 146);
  --color-shadow : rgb(156, 63, 243);
  --text-active : var(--source-1);
  --text-span : var(--source-1);
  --text-span-2 : #364153;
  --icon-color : #364153;
  --title-bg : #1c0641;
  --bg-header : #ffffff;
  --input-bg : #f8fafc;

} */

/* template 4  */
/* :root {
  --source-1 : #040b14;
  --background: #ededed;
  --background-element : var(--source-1); 
  --background-element-2 : #999393; 
  --background-element-3 : white;
  --text-element : white;
  --text-element-small : #999393;
  --text-element-small-black : 
#303443;
  --btn-text : white;
  --btn-bg: var(--source-1);
  --color-foreground: #ebe7e7;
  --btn-hover : #cba79b;
  --text-hover : rgb(95, 41, 146);
  --color-shadow : rgb(156, 63, 243);
  --text-active : #208fc3;
  --text-span : #208fc3;
  --text-span-2 : #364153;
  --border-color : #364153;
  --title-bg : #1c0641;
  --bg-header : #ffffff;
  --input-bg : #f8fafc;

} */
/* template 5  */
:root {
  --source-1 : #eeab1b;
  --background: #ededed;
  --background-element : var(--source-1); 
  --background-element-2 : #999393; 
  --background-element-3 : white;
  --text-element : white;
  --text-element-small : #999393;
  --text-element-small-black : 
#303443;
  --btn-text : white;
  --btn-bg: var(--source-1);
  --color-foreground: #d4d1c6;
  --btn-hover : #745718;
  --text-hover : rgb(95, 41, 146);
  --color-shadow : rgb(156, 63, 243);
  --text-active : var(--source-1);
  --text-span : #208fc3;
  --text-span-2 : #364153;
  --border-color : #364153;
  --title-bg : #1c0641;
  --bg-header : black;
  --input-bg : #f8fafc;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.group:hover .group-hover\:block {
  display: block;
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

