@import "tailwindcss";

/* template 5  */
:root {
  --source-1 : #eeab1b;
  --background: #ededed;
  --background-element : var(--source-1); 
  --background-element-2 : #999393; 
  --background-element-3 : white;
  --text-element : white;
  --text-element-small : #999393;
  --text-element-small-black : 
#303443;
  --btn-text : white;
  --btn-bg: var(--source-1);
  --color-foreground: #d4d1c6;
  --btn-hover : #9b6d09;
  --text-hover : rgb(95, 41, 146);
  --color-shadow : rgb(156, 63, 243);
  --text-active : var(--source-1);
  --text-span : #208fc3;
  --text-span-2 : #364153;
  --border-color : #364153;
  --title-bg : #1c0641;
  --bg-header : black;
  --input-bg : #f8fafc;

}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-dark: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.group:hover .group-hover\:block {
  display: block;
}

@keyframes spinScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

